/* Enter your custom styles here */
.prova{
  background-color: red!important;
}

#container-webapp---Scan--barcodeScannerInput-vhi {
    font-size: 2rem !important;       
    width: 2rem;
    cursor: pointer;
}


